<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Disabled all other loggers, because I want to show my own -->

	<logger name="org.springframework" level="OFF" />
	<logger name="org.hibernate" level="OFF" />
	<logger name="org.apache" level="OFF" />
	<logger name="com.zaxxer" level="OFF" />

	<!-- ===== PROPERTIES ===== -->

	<!-- Log directory -->
	<property name="HOME_LOG" value="logs/app.log" />

	<!-- Charset -->
	<property name="CHARSET" value="utf8" />

	<!-- Patterns -->
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %thread | %5p | %logger{25} | %m%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>


	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
 		<appender-ref ref="FILE" />
	</root>

</configuration>